
@{
    ViewBag.Title = Session[AILibrary.Views.Helpers.MyConstants.VBTitle];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Session[AILibrary.Views.Helpers.MyConstants.VBHeader]</h2>
<p>@Session[AILibrary.Views.Helpers.MyConstants.VBMessage]</p>

