@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AI Library Application</h1>
    <p class="lead">Welcome in your home library system!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Books in system</h2>
        <p>
            Here you can add and browse the catalog of the books
        </p>
        <p><a class="btn btn-default" href="~/Books">Books &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Your book copies</h2>
        <p>Here you can add and browse book copies from your library and libraires of your frends who allowed you to do it in section permissions</p>
        <p><a class="btn btn-default" href="~/BookCopies">Book copies &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Permissions</h2>
        <p>Here you can manage who can acces your library</p>
        <p><a class="btn btn-default" href="~/Permissions">Permissions &raquo;</a></p>
    </div>
</div>